<template>
  <v-container fluid fill-height class="login">
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-12" v-if="userShouldLogin">
          <v-toolbar color="primary" dark flat>
            <v-toolbar-title>Login form</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-form ref="form" @keyup.native.enter="onLoginSubmit">
              <div class="text-left error--text" v-show="form.errors.global">
                {{form.errors.global}}
              </div>
              <v-text-field
                v-model="form.model.email"
                :rules="rules.email"
                label="Login"
                name="email"
                prepend-icon="person"
                type="text"
                @input="resetErrors()"
              />
              <v-text-field
                v-model="form.model.password"
                :rules="rules.password"
                id="password"
                label="Password"
                name="password"
                prepend-icon="lock"
                type="password"
                @input="resetErrors()"
              />
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="onLoginSubmit">Login</v-btn>
          </v-card-actions>
        </v-card>
        <div v-else class="text-center">
          Checking user!
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>


<script>
import { mapActions } from 'vuex'

export default {
  name: 'login',
  data () {
    return {
      userShouldLogin: false,
      form: {
        model: {
          email: 'admin@example.com',
          password: 'admin1234'
        },
        errors: {
          global: false,
          email: false
        }
      },
      rules: {
        email: [
          v => !!v || 'E-mail is required',
          v => /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(v) || 'Please enter a valid E-mail address',
          v => (v && !this.form.errors.email) || this.form.errors.email
        ],
        password: [
          v => !!v || 'Password is required',
          v => v.length >= 8 || 'Min length is 8 characters',
          v => (v && !this.form.errors.password) || this.form.errors.password
        ]
      }
    }
  },
  async beforeMount () {
    await this.getUserProfile()
  },
  methods: {
    async getUserProfile () {
      try {
        await this.getProfile()
        // Redirect to profile page after login or get user data.
        this.$router.push({name: 'profile'})
      } catch (err) {
        this.userShouldLogin = true
      }
    },
    async onLoginSubmit () {
      if (this.$refs.form.validate()) {
        try {
          await this.login(this.form.model)
          await this.getUserProfile()
        } catch (err) {
          this.showErrors(err)
        }
      }
    },
    showErrors (err) {
      // We are checking only expected error!
      if (err.msg && typeof err.msg === 'string') {
        switch (err.msg) {
          case 'USER_DOES_NOT_EXIST':
            this.form.errors.email = 'User does not exist'
            break
          case 'WRONG_PASSWORD':
            this.form.errors.password = 'Wrong password'
            break
        }
        this.$refs.form.validate()
      } else {
        this.form.errors.global = 'Unexpected error!'
      }
    },
    resetErrors () {
      for (const name in this.form.errors) {
        this.form.errors[name] = false
      }
      this.$refs.form.validate()
    },
    ...mapActions('auth', ['login', 'getProfile'])
  }
}
</script>
