<template>
  <v-container fluid fill-height class="login">
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md8>
        <v-card class="elevation-12">
          <v-toolbar color="primary" dark flat>
            <v-toolbar-title>User profile</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <div class="text-left">
              <span class="font-weight-bold">Name:</span> {{currentUser.name}}
            </div>
            <div class="text-left">
              <span class="font-weight-bold">Email:</span> {{currentUser.email}}
            </div>
            <div class="text-left">
              <span class="font-weight-bold">Date of create:</span> {{currentUser.createdAt}}
            </div>
            <task-list/>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="onLogoutSubmit">Logout</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'
import TaskList from '../components/task/TaskList'

export default {
  name: 'profile',
  components: { TaskList },
  computed: {
    ...mapGetters('auth', ['currentUser'])
  },
  methods: {
    async onLogoutSubmit () {
      this.logout()
      // Redirect to login page after logout.
      this.$router.push({ name: 'login' })
    },
    ...mapActions('auth', ['logout'])
  }
}
</script>
