<template>
  <v-container class="crud-list page-wrapper" v-bind:class="[`${model}-list-page`]">
    <alerts :alerts="alerts"/>
    <v-layout row wrap>
      <v-toolbar-title>{{ title }}</v-toolbar-title>
      <v-spacer/>
      <v-btn color="primary" @click.stop="onCreateItem">{{options.forms.create.buttons.add}}</v-btn>
    </v-layout>
    <crud-forms ref="crudForms" :model="model" :forms="options.forms" :currentRow="currentRow" @on-table-data-update="onTableDataUpdate"/>
    <v-layout>
      <v-flex>
        <v-data-table
          :headers="options.table.headers"
          :items="tableData"
          :noDataText="options.table.noDataText"
          :loading="loading"
          :footer-props="{itemsPerPageOptions: options.table.rowsPerPageItems}"
          :options.sync="options.table.pagination"
          :hide-default-footer="!tableData.length"
        >
          <template v-slot:item="row">
            <tr>
              <component
                :is="EntityRow"
                :item="row.item"
                :index="row.index"
                @on-update-item="onUpdateItem"
                @on-delete-item="onDeleteItem"
              />
            </tr>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Alerts from '../common/Alerts'
import CRUDForms from './common/CRUDForms'

export default {
  name: 'crud-list',
  components: { Alerts, 'crud-forms': CRUDForms },
  props: {
    title: {
      type: String,
      required: true
    },
    model: {
      type: String,
      required: true
    },
    options: {
      type: Object,
      default () {
        return {
          table: {
            rowComponent: '',
            headers: []
          },
          form: {
            create: {},
            update: {},
            delete: {}
          }
        }
      }
    }
  },
  data () {
    return {
      alerts: [],
      tableData: [],
      rowIndex: false,
      loading: false
    }
  },
  computed: {
    EntityRow () {
      return () => import(`./../${this.options.table.rowComponent}`)
    },
    currentRow: function () {
      return this.rowIndex === false || !this.tableData[this.rowIndex] ? {} : this.tableData[this.rowIndex]
    }
  },
  beforeMount () {
    this.loadData()
  },
  methods: {
    // Load data for table.
    async loadData () {
      this.loading = true
      try {
        const response = await this.$http.get(`/${this.model}/list`)
        // Clean table data and add new values.
        this.tableData.splice(0, this.tableData.length, ...response.data)
        this.loading = false
      } catch (err) {
        // eslint-disable-next-line no-console
        console.log(err)
      }
    },
    onTableDataUpdate ({ type, data }) {
      switch (type) {
        case 'create':
          // Add new item in data of table.
          this.tableData.push(data)
          break
        case 'update':
          // Remove the old item and add the updated item in data of table.
          this.tableData.splice(this.rowIndex, 1, data)
          break
        case 'delete':
          this.tableData.splice(this.rowIndex, 1)
          break
      }
      this.alerts.push({ type: 'success', text: this.options.forms[type].messages.success(data), show: true })
    },
    // We can have a different sort for table.
    findRowIndex (id) {
      return this.tableData.findIndex(i => i._id === id)
    },
    onCreateItem () {
      this.rowIndex = false
      this.options.forms.create.show = true
    },
    onUpdateItem ({ item }) {
      this.rowIndex = this.findRowIndex(item._id)
      this.options.forms.update.show = true
    },
    onDeleteItem ({ item }) {
      this.rowIndex = this.findRowIndex(item._id)
      this.options.forms.delete.show = true
    }
  }
}
</script>

<style scoped>

</style>

