<template>
  <div class="crud-forms-wrapper">
    <v-dialog
      v-model="forms.create.show"
      :max-width="forms.create['max-width'] ? forms.create['max-width'] : '650px'"
      :persistent="forms.create.persistent === false ? false : true"
      @keydown.esc="forms.create.show = !forms.create.show"
    >
      <component
        ref="createFormWrapper"
        :is="EntityForm"
        :form="forms.create"
        type="create"
        @on-save="onSaveCreateForm"
      />
    </v-dialog>
    <v-dialog
      v-model="forms.update.show"
      :max-width="forms.update['max-width'] ? forms.update['max-width'] : '650px'"
      :persistent="forms.update.persistent === false ? false : true"
      @keydown.esc="forms.update.show = !forms.update.show"
    >
      <component
        ref="updateFormWrapper"
        :is="EntityForm"
        :form="forms.update"
        :currentRow="currentRow"
        type="update"
        @on-save="onSaveUpdateForm"
      />
    </v-dialog>
    <dialog-confirm ref="deleteConfirm"/>
  </div>
</template>

<script>
import DialogConfirm from '../../common/DialogConfirm'

export default {
  name: 'crud-forms',
  components: { DialogConfirm },
  props: {
    model: {
      type: String,
      required: true
    },
    forms: {
      type: Object,
      default () {
        return {
          create: {},
          update: {},
          delete: {
            show: false
          }
        }
      }
    },
    currentRow: {
      type: Object,
      required: true
    }
  },
  data () {
    return {}
  },
  computed: {
    EntityForm () {
      return () => import(`./../../${this.forms.entityComponent}`)
    }
  },
  watch: {
    'forms.delete.show' (value) {
      if (value) this.onDeleteConfirmForm(this.currentRow)
    }
  },
  methods: {
    async onSaveCreateForm (data) {
      this.forms.create.loading = true
      try {
        const response = await this.$http.post(`/${this.model}`, data)
        this.$emit('on-table-data-update', { type: 'create', data: response.data })
        this.$refs.createFormWrapper.hideForm()
      } catch (err) {
        this.forms.create.loading = false
        // Allow custom functionality, which allow management of the save's error.
        if (typeof this.$refs.createFormWrapper.afterSaveError === 'function') this.$refs.createFormWrapper.afterSaveError(err)
      }
    },
    async onSaveUpdateForm (data) {
      this.forms.update.loading = true
      try {
        const response = await this.$http.patch(`/${this.model}/${data._id}`, data)
        this.$emit('on-table-data-update', { type: 'update', data: response.data })
        this.$refs.updateFormWrapper.hideForm()
      } catch (err) {
        this.forms.update.loading = false
        // Allow custom functionality, which allow management of the update's error.
        if (typeof this.$refs.updateFormWrapper.afterSaveError === 'function') this.$refs.updateFormWrapper.afterSaveError(err)
      }
    },
    async onDeleteConfirmForm (data) {
      if (await this.$refs.deleteConfirm.open(this.forms.delete.title, this.forms.delete.messages.main(data), { color: 'red' })) {
        await this.$http.delete(`/${this.model}/${data._id}`)
        this.$emit('on-table-data-update', { type: 'delete', data: data })
      }
      this.forms.delete.show = false
    }
  }
}
</script>

<style scoped>

</style>

