<template>
  <div class="pb-3">
    <v-alert v-for="(alert) in alerts"
             :type="alert.type || 'warning'"
             :value="alert.show"
             :key="alert.id ? alert.id : hashCode(alert.text)"
             :dismissible="alert.dismissible"
             transition="slide-y-transition">
      {{ alert.text }}
    </v-alert>
  </div>
</template>

<script>
import { hashCode } from '../../utils/assist'

export default {
  name: 'alerts',
  props: {
    alerts: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
      alertTimers: {}
    }
  },
  watch: {
    alerts: {
      handler () {
        this.autoHideAlerts()
      }
    }
  },
  methods: {
    hashCode: hashCode,
    getIdProp (alert) {
      return alert.id ? 'id' : 'text'
    },
    autoHideAlerts () {
      // Auto hide the last alert after 3s.
      if (this.alerts.length) {
        let alert
        for (let i = this.alerts.length - 1; i > -1; i--) {
          if (this.alerts[i].autoHide !== false) alert = this.alerts[i]
        }
        // Auto hide is disabled for all exist alerts.
        if (!alert) return

        const idProp = this.getIdProp(alert)
        if (!this.alertTimers[idProp]) {
          // We are removing after hide for animating of transition.
          // Init timeout for hide after 3s.
          this.alertTimers[idProp] = setTimeout((alert, idProp) => {
            this.alerts[this.alerts.findIndex(a => a[idProp] === alert[idProp])].show = false
          }, 3000, alert, idProp)
          // Init timeout for remove alert item after 4s.
          setTimeout((alert, idProp) => {
            delete this.alertTimers[idProp]
            this.alerts.splice(this.alerts.findIndex(a => a[idProp] === alert[idProp]), 1)
          }, 4000, alert, idProp)
        }
      }
    }
  }
}
</script>

