<template>
  <v-card>
    <v-card-title>
      <span class="headline">{{ form.title }}</span>
    </v-card-title>
    <v-card-text>
      <v-container>
        <v-form ref="form">
          <v-text-field
            v-model="model.name"
            :rules="rules.email"
            name="name"
            label="Name"
            required
          />
          <v-text-field
            v-model="model.description"
            name="description"
            label="Description"
          />
        </v-form>
      </v-container>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="primary darken-1" text :disabled="form.loading" :loading="form.loading" @click="onSave">{{form.buttons.save}}</v-btn>
      <v-btn color="grey" text @click="onCancel">{{form.buttons.cancel}}</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import FormActions from '../tables/common/CRUDFormActions.mixin'
import { deepCopy } from '../../utils/assist'

export default {
  name: 'task-form',
  mixins: [FormActions],
  props: {
    form: {
      type: Object,
      default () { return {} }
    },
    type: {
      type: String,
      required: true
    },
    currentRow: {
      type: Object,
      default () { return {} }
    }
  },
  data () {
    return {
      model: {},
      rules: {
        name: [
          v => !!v || 'Name is required'
        ]
      }
    }
  },
  watch: {
    currentRow: {
      handler () {
        this.resetFormModel()
      },
      deep: true
    }
  },
  beforeMount () {
    this.initFormModel()
    this.resetFormModel()
  },
  methods: {
    initFormModel () {
      this.model = deepCopy(this.form.model)
    },
    // Copy initial (default) values to form model.
    resetFormModel () {
      switch (this.type) {
        case 'create':
          this.initFormModel()
          break
        case 'update':
          // Populate model by data from current row.
          if (Object.keys(this.currentRow).length > 0) {
            for (let key in this.model) {
              this.model[key] = this.currentRow[key]
            }
          }
          break
      }
    },
    hideForm (reset = true) {
      this.form.loading = this.form.show = false
      // Reset form data to initial.
      if (reset) {
        // Reset form errors without clean of data.
        this.$refs.form.resetValidation()
        // Init the reload of the model for form.
        this.resetFormModel()
      }
    },
    beforeCancel () {
      this.hideForm()
    }
  }
}
</script>

<style scoped>

</style>
