<template>
  <fragment>
    <td>
      {{item.name}}
    </td>
    <td>
      {{item.description}}
    </td>
    <td>
      {{item.createdAt}}
    </td>
    <td>
      {{item.updatedAt}}
    </td>
    <td align="left">
      <v-tooltip top>
        <template v-slot:activator="{ on }">
          <v-btn
            color="primary"
            @click.stop="onUpdateItem(item)"
            icon
            v-on="on"
          >
            <v-icon>edit</v-icon>
          </v-btn>
        </template>
        <span>Edit</span>
      </v-tooltip>
      <v-tooltip top>
        <template v-slot:activator="{ on }">
          <v-btn
            color="error"
            @click.stop="onDeleteItem(item)"
            icon
            v-on="on"
          >
            <v-icon>delete</v-icon>
          </v-btn>
        </template>
        <span>Delete</span>
      </v-tooltip>
    </td>
  </fragment>
</template>

<script>
import RowActions from '../tables/common/CRUDRowActions.mixin'
import { Fragment } from 'vue-fragment'

export default {
  name: 'task-list-row',
  mixins: [RowActions],
  components: { Fragment },
  props: {
    item: {
      type: Object,
      required: true
    }
  }
}
</script>
