<template>
  <crud-list ref="crud" :title="title" model="task" :options="options"/>
</template>

<script>
import CRUDList from '../tables/CRUDList'

export default {
  name: 'task-list',
  data () {
    return {
      title: 'Task List',
      options: {
        table: {
          rowComponent: 'task/TaskListRow',
          headers: [
            {
              text: 'Name',
              value: 'name',
              align: 'left',
              width: '20%'
            },
            {
              text: 'Description',
              value: 'description',
              sortable: false,
              align: 'left'
            },
            {
              text: 'Created at',
              value: 'createdAt',
              width: '10%',
              align: 'left'
            },
            {
              text: 'Updated at',
              value: 'updatedAt',
              width: '10%',
              align: 'left'
            },
            {
              text: 'Actions',
              value: 'actions',
              sortable: false,
              width: '15%',
              align: 'left'
            }
          ],
          pagination: {},
          noDataText: 'No tasks available'
        },
        forms: {
          entityComponent: 'task/TaskForm',
          create: {
            show: false,
            title: 'Task create',
            'max-width': '500px',
            loading: false,
            buttons: {
              add: 'New task',
              save: 'Create task',
              cancel: 'Cancel'
            },
            showPassword: false,
            model: {
              name: '',
              description: ''
            },
            errors: {},
            messages: {
              success: (item) => `Task ${item.name} created successfully!`
            }
          },
          update: {
            show: false,
            title: 'Task edit',
            'max-width': '500px',
            loading: false,
            buttons: {
              save: 'Update task',
              cancel: 'Cancel'
            },
            showPassword: false,
            model: {
              _id: 0,
              name: '',
              description: ''
            },
            errors: {},
            messages: {
              success: (item) => `Task ${item.name} updated successfully!`
            }
          },
          delete: {
            show: false,
            title: 'Delete task',
            messages: {
              main: (item) => `Task ${item.name} will be deleted!</br>Are you sure?`,
              success: (item) => `Task ${item.name} deleted!`
            }
          }
        }
      }
    }
  },
  components: {
    'crud-list': CRUDList
  }
}
</script>
